/* Mapping.css */

.route-container {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;

  background: #fff;
  border-radius: 12px;
  text-align: center;
}

/* Título */
.route-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #666;
}

/* Contenedor del mapa */
.route-map {
  width: 100%;
  height: 600px;

  border-radius: 10px;
  overflow: hidden;
}

/* Iframe */
.route-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.map-coming-soon{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.blur-map{
  filter: blur(8px) brightness(0.5);
  pointer-events: none;
  transform: scale(1.05);
}

.coming-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: clamp(2rem, 7vw, 6rem);
  font-weight: 900;
  color: white;

  letter-spacing: 4px;
  text-transform: uppercase;

  text-shadow:
    0 0 10px rgba(0,0,0,0.8),
    0 0 30px rgba(0,0,0,0.8);

  z-index: 10;
}

/* Responsive */
@media (max-width: 768px) {
  .route-map {
    height: 500px;
  }

  .route-title {
    font-size: 22px;
  }
}