.footer {
  background-color: #315177; /* color principal */
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  padding: 2rem 1rem;
  position: relative;
}

/* Parte superior */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 1rem;

}

.footer-logo .logo-img {
  width: 200px;       /* respeta el ancho original */
  height: 130px;      /* respeta el alto original */
  max-width: 100%;   /* opcional: evita que se desborde del contenedor */
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}



.footer-social a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: transform 0.3s, color 0.3s;
  color: white;
  text-decoration: none;
}
.footer-social a:hover {
  transform: scale(1.2);
  color: #ff3b3b;
}

/* Línea divisoria */
.footer-divider {
  border-top: 1px solid #fff;
  opacity: 0.7;
  width: 90%;       /* controla el largo de la línea */
  margin: 1rem auto; /* centra la línea horizontalmente */
}


/* Parte inferior */
.footer-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
  color: #ff3b3b; /* títulos en dorado */
}

.footer-column p {
  margin: 0.3rem 0;
  opacity: 0.9;
}


/* Links legales */
.footer-column a {
  display: block;
  margin: 0.4rem 0;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.footer-column a:hover {
  color: #ff3b3b;
  transform: translateX(3px);
}

/* Copyright */
.footer-copy {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
}
.footer-logo p{
  opacity: 0.9;
}

.social-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 2px 6px rgba(0,0,0,0.35));

}

.footer-social a:hover .social-icon {
  transform: scale(1.15);
}

/* Responsive */
@media (max-width: 768px) {

  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-logo .logo-img {
    margin-left: 0;
  }

  .footer-bottom {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

}