.btn-culqi-custom {
  width: 100%;
  padding: 14px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #315177, #1f3550);

  color: #fff;
  border: none;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.25s ease;

  box-shadow: 0 4px 12px rgba(0,0,0,0.25);

  margin-top: 15px;
}

.btn-culqi-custom:hover {
  background: linear-gradient(135deg, #d62828, #a4161a);

  transform: translateY(-2px);

  box-shadow: 0 8px 18px rgba(0,0,0,0.35);
}

.btn-culqi-custom:active {
  transform: scale(0.98);
}

.btn-culqi-custom:disabled {
  background: #999;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}